<div class="container">
  <div [ngClass]="{
  'bg-warning': posts[0].type == 'news',
  'bg-info': posts[0].type == 'education',
  'bg-dark text-white': posts[0].type == 'politic'
}" class="card mt-3">
    <div class="card-header">
      <span appHighlight>{{posts[0].id}}</span>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{posts[0].title | uppercase }}</h5>
      <p class="card-text">{{posts[0].body}}</p>
      <div class="container d-flex justify-content-around">
        <p class="list-group-item">{{posts[0].type}}</p>
        <p class="list-group-item">{{posts[0].authors}}</p>
      </div>
    </div>
  </div>
</div>
